<h1>Profile</h1>

<p>
  We use answers to the questions below to analyze hiring trends **anonymously**. We will never share the information you choose to disclose below.
</p>

<p>
  We hope you'll share this information with us, as it helps us serve you and future students more effectively. But, if you want, you can <%= link_to "skip this step", :root %>.
</p>

<%= render 'form' %>