<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %></h1>
    <p>
      Looks like a thread you're following has some new activity.<br>
    </p>
    <p>
      Check out the conversation at: <%= entry_url(@entry.id) %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>