$primary-color: white;
$notice-color: red;
$primary-background: grey;
$link-color: white;

#profile_bar, #fill {
  background-color: $primary-background;
}

#notice, .flashes {
  color: $notice-color;
}

a {
  text-decoration: none;
  &:hover{
    color: darken($link-color, 10%);
  }
}

#profile_bar {
  a {
    &:visited{
      color: inherit;
    }
    &:hover{
      color: darken($link-color, 10%);
    }
  }
}