$primary-color: white;
$notice-color: red;
$primary-background: grey;
$link-color: purple;

#profile_bar, #fill {
  background-color: $primary-background;
}

#notice, .flashes {
  color: $notice-color;
}

a {
  text-decoration: none;
  &:hover{
    color: lighten($link-color, 10%);
  }
}