$image-dimensions: 25px;

#nav_bar img {
  height: $image-dimensions;
  width: $image-dimensions;
}

#logo {
  background-image: '../_lib/ocs_star.png';
}

#nav_bar {
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}