<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Github</th>
      <th>Email</th>
      <th>Applications</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.github_username %></td>
        <td><%= user.email %></td>
        <td><%= user.entries.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>