<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Applicants</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= company.entries.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>