<h1><%= @company.name %></h1>

<table>
  <thead>
    <tr>
      <th>Applicant</th>
    </tr>
  </thead>

  <tbody>
    <% @company.entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.user.name, entry %></td>
      </tr>
    <% end %>
  </tbody>
</table>