<% content_for :sidebar do %>
  <%= render "application/default_sidebar", {user: current_user} %>
<% end %>

<h1>Editing Offer</h1>

<p>Update information about the offer you've received below.</p>

<%= render 'form' %>
