$padding-top: 16px;
$padding-left: 16px;

body {
  margin: 0;
}

#main {
  @include outer-container(100%);
}

#nav_bar {
  @include span-columns(12);
}

/* PROFILE BAR LAYOUT */
#profile_bar {
  @include span-columns(2 of 12);
}

#fill {
  height: 1000px;
}

#nav_bar ul {
  list-style: none;
  padding: 3px 0 0 0;
  margin: 0;
}

#nav_bar li {
  float: left;
}

#profile_bar ul {
  list-style: none;
  padding: 0;
}

#nav_bar, #profile_bar {
  padding-left: $padding-left;
}

#profile_bar {
  padding-top: $padding-top;
}

#page_content {
  @include span-columns(10 of 12);
  padding-top: $padding-top*2;
  padding-right: $padding-right*2;
}
