.container{
  @include outer-container;
}

.innerContainer{
  padding-top: 10px;
}

.sidebar{
  @include span-columns(2);
  @extend .innerContainer;
}

.pageContent{
  @include span-columns(10); 
  @extend .innerContainer;
  padding-bottom: 40px;
}

fieldset{
  padding: 12px 20px;
  margin-bottom: 20px;
  background: #FDFDFD;
  border-radius: 6px;
  border: 1px solid #eee;
}

.jobEntryButtons{
  margin-bottom: 20px;
}

.birthdateSelect{
  width: 130px; 
  display: inline-block;
}

.eventsContainer{
  padding: 16px;
  border: solid #ccc;
  border-width: 0 1px 1px;
  border-radius: 0 0 3px 3px;
}

.eventsContainer .comment:last-child{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bulletedList{
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 12px;
}

.jointFieldAndButton{
  @include clearfix;
}

.jointFieldAndButton__field{
  float: left;
  width: 90%;
  border-radius: 3px 0 0 0;
  height: 55px;
  margin-bottom: 0;
}

.jointFieldAndButton__button{
  float: left;
  width: 10%;
  border-radius: 0 3px 0 0;
  height: 55px;
}

#new_event{
  margin-top: 18px;
}