.container{
  @include outer-container;
}
.main .container{
  padding-left: 1em;
  padding-right: 1em;
}

.innerContainer{
  padding-top: 30px;
}

.sidebar{
  @include span-columns(3);
  @extend .innerContainer;
}

.pageContent{
  @include span-columns(9); 
  @extend .innerContainer;
  padding-bottom: 40px;
}
.pageContent.pageContent--fullWidth{
  @include span-columns(12);
}

fieldset{
  padding: 12px 20px;
  margin-bottom: 20px;
  background: #FDFDFD;
  border-radius: 6px;
  border: 1px solid #eee;
}

.jobEntryButtons{
  margin-bottom: 20px;
}

.dateSelect{
  width: 130px; 
  display: inline-block;
}

.eventsContainer{
  padding: 16px;
  border: solid #ccc;
  border-width: 0 1px 1px;
  border-radius: 0 0 3px 3px;
}

.eventsContainer .comment:last-child{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.comment--closed {
  opacity: 0.5;
}

.bulletedList{
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 12px;
}

.jointFieldAndButton{
  @include clearfix;
}

.jointFieldAndButton__field{
  float: left;
  width: 90%;
  border-radius: 3px 0 0 0;
  height: 55px;
  margin-bottom: 0;
  background: #FCFCFC;
}

.jointFieldAndButton__button{
  float: left;
  width: 10%;
  border-radius: 0 3px 0 0;
  height: 55px;
}

#new_event{
  margin-top: 18px;
}

.userInfo__top{
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.userInfo__name{
  margin-bottom: 0;
}
.userInfo__cohort{
  color: #999;
  font-size: 12px;
}
.userInfo__lastActive{
  color: #ccc;
  font-size: 12px; 
}
.userInfo__socialLinks{
  padding-top: 4px;
}
.userInfo__socialLink{
  font-size: 13px;
  margin-bottom: 4px;
  display: block;
  color: #444;
}
.sidebarAlert{
  @extend .flash-error;
  text-align: left;
  font-size: 14px;
}
.sidebarAlert__header{
  font-weight: bold;
  color: #F74D5A;
}
.profileEditHighlight{
  border: 4px solid #fbe3e4;
  padding: 20px 12px 0px 12px;
  margin-bottom: 20px;
}

.pageContent h1{
  border-bottom: 1px solid #333;
  padding-bottom: 9px;
  margin-bottom: 18px;
}

#error_explanation{
  @extend .flash-error;
  text-align: left;
  margin-bottom: 30px;
}
.field_with_errors{
  border-left: 6px solid #F74D5A;
  padding-left: 6px;
}
