<ul id="dashboard_menu">
  <li>
    <%= link_to("Job Applications", job_applications_path) %>
  </li>
  <li>
    <%= link_to("Offers", offers_path) %>
  </li>
  <li>
    <%= link_to("Positions", positions_path) %>
  </li>
  <li>
    Data
  </li>
</ul>

<ul id="dashboard_add-new">
  <li>
    <%= link_to("+", new_job_application_path) %>
  </li>
</ul>
