<ul>
  <li>
    <%= link_to("Job Applications", job_applications_path) %>
  </li>
  <li>
    <%= link_to("Offers", offers_path) %>
  </li>
  <li>
    Positions
  </li>
  <li>
    Data
  </li>
</ul>

<ul>
  <li>
    +
  </li>
</ul>
